
/* ============= COMMON STYLES ============= */

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;  
  --iris: rgb(77 90 229);
  --navyblue: rgb(46 47 66);
  --cloud: rgb(244 244 253);
  --slate: rgb(67 68 85);
  --cornflower: rgb(231 233 252);
  --ocean: rgb(64 75 191);
  --green: rgb(49 208 170);
  --light-slate: rgb(142 143 153);
  --navyblue-modal: rgba(46 47 66 / 0.4);
  --grey: rgba(46 47 66 / 0.7);
  --white: rgb(255 255 255);
  --dairy: rgb(252 252 252);
}

body {
    font-family: var(--primary-font);
    color: var(--slate);
    background-color: var(--white);
}

/* reset */
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ============= /COMMON STYLES ============= */

/* ============= HEADER STYLES ============= */
.page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 1px 6px 0 rgba(46 47 66 / 0.08), 0 1px 1px 0 rgba(46 47 66 / 0.16), 0 2px 1px 0 rgba(46 47 66 / 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: var(--navyblue);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: var(--ocean);
}

/* ============= /HEADER STYLES ============= */

/* ============= HERO SECTION ============= */

.hero-section {
    background-color: var(--navyblue);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(var(--grey), var(--grey)), url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */ 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.order-service-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.15);
    cursor: pointer;
    background-color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    min-width: 169px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: var(--ocean);
}
/* ============= /HERO STYLES ============= */

/* ============= BENEFITS STYLES ============= */
.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-container {
    display: flex;
    align-items: center;
}


.benefits-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3*24px)/4);
}

.benefits-icon-box {
    height: 112px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.benefits-icon {
    display: block;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}   

.benefits-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* ============= /BENEFITS STYLES ============= */
    
/* ============= TEAM STYLES ============= */
.team-section {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: var(--white);
    box-shadow: 0 2px 1px 0 rgba(46 47 66 / 0.08), 0 1px 1px 0 rgba(46 47 66 / 0.16), 0 1px 6px 0 rgba(46 47 66 / 0.08);
    width: calc((100% - 3*24px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-wrapper {
    padding: 32px 0;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean);
}
/* ============= /TEAM STYLES ============= */

/* ============= PORTFOLIO STYLES ============= */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Оверлей */
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* ============= /PORTFOLIO STYLES ============= */

/* ============= FOOTER STYLES ============= */
.page-footer {
    background-color: var(--navyblue);
    padding-top: 100px;
    padding-bottom: 100px;
}  

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    padding: 1.5px 0;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: var(--cloud);
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.footer-social {
    margin-right: 80px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    outline: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
    color: var(--white);
}

.subscribe-input:focus {
    border-color: var(--green);
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--iris);
    color: var(--white);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--green);
}

.subscribe-icon {
    fill: var(--white);
    margin-left: 16px;
}

/* ============= /FOOTER STYLES ============= */

/* ============= BACKDROP AND MODAL STYLES ============= */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;

    width: 100%;
    height: 100%;

    background-color: var(--navyblue-modal);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.14), 0 1px 3px 0 rgba(0 0 0 / 0.12), 0 2px 1px 0 rgba(0 0 0 / 0.2);
    background-color: var(--dairy);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0 0 0 / 0.1);
    background-color: var(--cornflower);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    fill: var(--navyblue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
    border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 16px;
}
/* ============= /BACKDROP AND MODAL STYLES ============= */

/* ============= CONTACT FORM STYLES ============= */

.contact-form-field-wrapper{
    margin-bottom: 8px;
}

.contact-form-field-label {
    display: block;
    font-size: 12px;

    /* line-height: 14px; */ 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}
    
.contact-form-input-wrapper {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 16px;

    border: 1px solid var(--navyblue-modal);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    fill: var(--navyblue);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--iris);
}

.contact-form-input:focus + .contact-form-input-icon {
    fill: var(--iris);
}

.contact-form-field-comment {
    margin-bottom: 16px;
}

.contact-form-message {
    width: 100%;
    height: 120px;
    resize: none;

    padding: 8px 16px;
    font-size: 12px;

    /* line-height: 14px; */ 
    line-height: 1.17;
    letter-spacing: 0.04em;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.contact-form-message:focus {
    border-color: var(--iris);
}

/* CHECKBOX */
.contact-form-checkbox {
    margin-bottom: 24px;
}

.contact-form-checkbox-label {
    font-size: 12px;

    /* line-height: 14px; */ 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.contact-form-checkbox-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    margin-right: 8px;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-icon {
    fill: var(--cloud);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-input:checked + .contact-form-checkbox-label .contact-form-checkbox-box {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud)
}

.contact-form-checkbox-input:checked + .contact-form-checkbox-label .contact-form-checkbox-icon {
  opacity: 1;
}

.contact-form-policy-link {
    color: var(--iris);
    text-decoration: underline;
}

.contact-form-send-btn {
    display: block;
    margin: 0 auto;

    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.15);
    cursor: pointer;
    background-color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-send-btn:hover,
.contact-form-send-btn:focus {
    background-color: var(--ocean);
}
/* ============= /CONTACT FORM STYLES ============= */